html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* above is reset*/

img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
}

.wrap{
    max-width: 1920px;
    /* display: flex;
    flex-direction: column; */
}
.header{
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 56px;
}
.header_logo{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_list{
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding: 10px;
    float: right;
}
.header_list li{
    display: flex;
    justify-content: center;
    width: 24.5%;
}
.header_list img{
    display: inline;
}
.icon{
    display: inline;
    max-height: 20px;
    max-width: 20px;
}
.mr-5{
    margin-right: 5px;
}
.header_list a{
    font: normal normal normal 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #8D8D8D;
}
.banner{
    height: 870px;
    /* background-image: url("https://i.imgur.com/9wuU4ZP.jpg"); */
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textArea{
    max-width: 445px;
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
}
h1{
    text-align: left;
    font: normal normal bold 40px/60px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.textArea p{
    text-align: left;
    font: normal normal normal 24px/36px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.btn{
    border-radius: 30px;
    background-color: transparent;
    opacity: 1;
    width: 350px;
    height: 60px;
    
}
.banner_btn{
    border: 2px solid #FFFFFF;
    color: #fff;
    font-size: 30px;
}
.content{
    /* display: flex;
    flex-direction: column; */
    max-width: 1110px;
    margin: 0 auto;
    /* align-items: center; */
    padding: 50px 0;
}
.content_list{
    display: flex;
    /* width: 100%; */
    min-height: 555px;
}
.content_text{
    padding: 10%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
}
h2{
    max-width: 350px;
    text-align: left;
    font: normal normal bold 32px/48px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
p{
    max-width: 350px;
    text-align: left;
    font: normal normal 300 20px/30px PingFang TC;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.content_text a{
    text-align: left;
    font: normal normal 600 16px/24px PingFang TC;
    letter-spacing: 0px;
    color: #AC8A46;
    opacity: 1;
}
.content_img{
    /* background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index2.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 555px; */
    min-width:50%;
}
.product1{
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index2.jpg");
}
.product2{
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index3.png");
}
.product3{
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index4.jpg");  
}
.product4{
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index5.jpg");  
}
.content_btn{
    border: 2px solid #000000;
    color: #000;
    font-size: 24px;
}
h3{
    font-size: 24px;
    line-height: 1.5;
}
.content_last{
    margin-bottom: 50px;
    line-height: 1.5;
}
.shop_list{
    display: flex;
    height: 728px;
    justify-content: center;
    align-items: center;
    background: #E0E0E0 0% 0% no-repeat padding-box;
}
.shop_list_item{
    max-width: 30%;
    min-width: 25%;
    margin:15px;
}
.shop_list_item p{
    font-size: 16px;
    text-align: left;
    font: normal normal 300 16px/24px SF Pro Text;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.shop_list_img{
    width: 350px;
    height: 540px;
}
.price{
    margin-top: 16px;
}
.o-price{
    text-decoration: line-through;
    color: #8D8D8D;
    margin-left: 16px;
}
.advertisement{
    display: flex;
    justify-content: center;
    height: 520px;
    padding: 30px;
}
.advertisement img{
    max-width: 730px;
}
.advertisement a{
    text-align: left;
    font: normal normal 600 16px/24px PingFang TC;
    letter-spacing: 0px;
    color: #AC8A46;
    opacity: 1;
}
.ad_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
}
.mt-20{
    margin-top: 20px;
}
.ml-20{
    margin-left: 20px;
}
.fs-20{
    font-size: 20px;
}
.fs-16{
    font-size: 16px;
}
.subscribe{
    height: 600px;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index10.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe_text{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.subscribe_title{
    text-align: left;
    font: normal normal 600 32px/48px PingFang TC;
    letter-spacing: 0px;
    color: #8D8D8D;
    opacity: 1
}
.fs-32{
    font-size: 32px;
}
.input_btn{
    display: flex;
    justify-content: center;
}


.footer{
    background-color:#916000;
    margin-bottom: 0;
    display: flex;
}
.footer_logo{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_right{
    font: normal normal medium 14px/21px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.footer_list{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.footer_list a{
    text-align: left;
    font: normal normal normal 20px/30px SF Pro Text;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin: 0 20px;
}